.ans {
    background-color:#d2bba0;
    display: block;
    margin-top: 80px;
    padding: 20px;   /* propeties given to question answer div*/
    text-align: center;
}
#next {
    color: rgb(0, 21, 139);
    background-color: rgb(61, 139, 100);
    border-radius: 25%;
    text-align: center;
}
body {
    background-color: #ffeee2;/* propeties given to body div*/
}
#spe {
    color: rgb(146, 4, 127);
    text-align: center;
    margin-top: 40px;
    padding-top: 60px;

    
}
.col-lg-3 {
    margin-top: 20px;
    text-align: center;
    color: rgb(209, 0, 0);
}
#startdiv {
    text-align: center;
    margin-top: 20px;/* propeties given to first page start div div*/
    padding-top: 20px;
    
}
#welcome {
    color: orangered;
}
#time {
    color:rgb(43, 174, 226);
}
#correct{
    color:rgb(43, 174, 226);
    
}
#notCorrect{
    color:rgb(43, 174, 226);
    
}